*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.containier {
  max-width: 600px;
  margin: 0 auto;
}

.news-containier {
  padding: 15px;
  box-sizing: border-box;
  margin: 15px 0;
}

.news-containier:first-child {
  margin: 0;
}

.news-text {
  margin: 10px 0;
  text-align: justify;
}

.news-reactions {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.reactions-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

button {
  display: block;
  margin: 0 auto;
  min-width: 100px;
  padding: 10px 20px;
}